@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #032a44;
  --primary: #bec0c4;
  --secondary: #2f8b0a;
  --success: #48bb78;
  --warning: #ecc94b;
  --error: #f56565;
  --button: #059ce2;
  --buton-hover: #2b6cb0;

  background-color: var(--background);
  color: var(--primary);
}
